{% extends 'app/base.html' %}
{% load static %}
{% load split_filter %}
{% load widget_tweaks %}

{% block content %}
    <style>
        body {
        background-image: url("{% static 'app/media/wp5.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        }
        /* Add some mobile-friendly styles */
        @media (max-width: 768px) {
          .container {
            padding: 10px;
            margin: 10px;
          }
          .chat-log {
            font-size: 14px;
          }
          .chat-message {
            padding: 5px;
          }
          .username {
            font-size: 16px;
          }
          .message {
            font-size: 14px;
          }
          .level {
            flex-direction: column;
          }
          .level-left {
            margin-bottom: 10px;
          }
          .level-right {
            font-size: 12px;
          }
          img {
            max-width: 200px;
            max-height: 200px;
          }
        }
    </style>
    <section class="section">
      <div class="container">
          <h1 class="title">Chat</h1>
          <form method="post" id="chat-form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="field">
                  <div class="control">
                      <textarea id="chat-input" name="message" class="input" placeholder="Type your message"></textarea>
                  </div>
              </div>
              <div class="field">
                  <div class="control">
                      <input type="file" name="image" id="image-input">
                  </div>
              </div>
              <button type="submit" class="button is-primary">Send</button>
          </form>
          <ul class="chat-log" id="chat-log" style="list-style: none;">
              {% for message in messages %}
                  <li class="chat-message {% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}">
                    <div class="level">
                      <div class="level-left">
                        <span class="username">{{ message.user.username }}</span>
                        <span class="message">{{ message.message }}</span>
                        {% if message.image %}
                            <img src="{{ message.image.url }}" alt="file uploaded">
                        {% endif %}
                      </div>
                      <div class="level-right">
                        <span class="is-size-7 column has-text-weight-bold">{{ message.created_at|time:"H:i"}} -- {{ message.created_at|date:"d M Y"}}
                      </div>
                  </li>
                  {% empty %}
                      <li class="chat-message">No messages yet.</li>
              {% endfor %}
          </ul>
      </div>
  </section>

  <script>
    function refreshChatLog() {
      window.location.reload();
    }
  
    setInterval(refreshChatLog, 120000); 
  </script>

  <style>
    .chat-log {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .chat-message {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .chat-message.even {
      background-color: #f0f0f0; /* very light gray */
    }

    .chat-message.odd {
      background-color: #c6efce; /* very light green */
    }
    .chat-message img {
      max-width: 400px;
      max-height: 400px;
      display: block;
      margin: 10px auto;
    }

    .username {
      font-weight: bold;
    }
    .container {
      border-radius: 5px; /* soften the corners */
      padding: 20px; /* add some padding for better look */
      background-color: #fff; /* add a white background */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
    }
  </style>
{% endblock %}