<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My Work Site Records - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <style>
    #map {
        position: relative;
    }
    #canvas-container {
        position: absolute;
        top: 0;
        left: 0;
    }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <span class="navbar-item">
            <a class="button is-dark" href="{% url 'home' %}">Home</a>
          </span>
          <span class="navbar-item">
            <a class="button is-success" href="{% url 'records_list' %}">Record List</a>
          </span>
          
          <span class="navbar-item">
            <a class="button is-primary" href="{% url 'add_record' %}">Add Record</a>
          </span>
          <span class="navbar-item">
            <a class="button is-success" href="{% url 'search_records' %}">3 words Search</a>
          </span>
          <span class="navbar-item">
            <a class="button is-success" href="{% url 'export_to_excel' %}">Export to excel</a>
          </span>
          <span class="navbar-item">
            <a class="button is-success" href="{% url 'boreholes' %}">Boreholes</a>
          </span>
          <span class="navbar-item">
        </div>
        <div class="field has-addons" style="padding-top: 8px;">
          <div class="control">
            <form method="post" action="">
                {% csrf_token %}
                <input class="input" type="search" placeholder="Search" aria-label="Search" name="searched">
          </div>
          <div class="control">
                <button class="button is-info" type="submit">Search</button>
          </div>  
            </form>
        </div>
      </nav>
    </header>

    <main>
      {% for message in messages %}
        <div class="notification is-info">{{ message }}</div>
      {% endfor %}
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class='footer'>
      <small>&copy; 2024, Jesus Maria Garcia Pro</small>
    </footer>
  </body>
</html>